<div class="container">
    <div class="row">
        <div id="menu" class="col-1">
            <div id="title">
                Kids Games
            </div>
            <div id="game-list">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" [routerLink]="['/matchpair']" routerLinkActive="active">Match Pairs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/points24']" routerLinkActive="active">24 Points</a>
                    </li>
                </ul>
            </div>
        </div>
        <div id="games" class="col-11">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

