.container {
    max-width: 100%;
    min-width: 1600px;
}

#menu {
    height: 100vh;
    border-right: 2px rgb(12, 210, 236) ridge
}

#title {
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
    color: white;
    font-size: 25px;
}

#game-list {
    margin-top: 20px;
}

.nav-link {
    font-weight: bold;
}
.nav-link.active {
    color: yellow;
    font-size: 1.1em;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
}
