<div id="points24-card-board">
    @for (card of cards; track card.code; let i = $index) {
        <points24-card id="No_{{i}}" [card]="cards[i]" [selected]="selectedCards[i]"></points24-card>
    }
</div>
<div id="points24-btns">
    <button id="btnRecalculate" class="btn btn-primary" (click)="onClickRecalculate()">Re-calculate</button>
    <p class="status m-0"
        [ngClass]="expressions[2].result == '' ? 'bg-warning-subtle status-warning-border' : 
            +expressions[2].result == 24 ? 'bg-success-subtle status-success-border' : 'bg-danger-subtle status-danger-border'">
        {{expressions[2].result == "" ? "In Progress..." : +expressions[2].result == 24 ? "WIN" : "FAIL"}}
    </p>
    @if (!searchCompleted) {
        <button class="btn btn-primary spin-btn">
            <span class="spinner-border"></span>
            <span class='btn-caption'>Finding Solutions...</span>
        </button>
    }
    @else {
        <button type="button" class="btn btn-primary position-relative toggle-btn" (click)="toggleShowSolutions()">
            {{showSolutions ? "Hide " : "Show "}} Solutions
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              {{solutions.length}}
            </span>
        </button>
    }
    @if (showSolutions) {
        <p class="solutions bg-success-subtle m-0" 
            [title]="solutions.toString()">
            @for (s of solutions; track s) {
                <span>{{s}}</span>
            }
        </p>
    }
</div>  
<div id="points24-procedures">
    @for(exp of expressions; track i; let i = $index) {
        @if (i == 0 || !expressions[i-1].isFailed) {
            <scratch-paper [stepIdx]="i" 
                [cards]="cards" [selectedCards]="selectedCards"
                [expressions]="expressions">
            </scratch-paper>
        }
    }
</div>