.step-container {
    padding: 10px;
}

.exp-container {
    display: inline-flex;
    gap: 20px;
}

.steps {
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    padding-right: 20px;
}

.oprand {
    height: 100px;
    width: 72px;
    border: 1px black solid;
}

.step-container img {
    height: 100%;
    width: 100%;
}

.step-container label {
    height: 80px;
    width: 80px;
    align-self: center;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.equal-sign {
    width: 40px !important;
    padding-left: 0px;
    padding-right: 0px;
}

.card-base {
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip {
    transform: rotateY(180deg);
}

.flip-result-card {
    background-color: transparent;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.results {
    width: 100%;
    height: 100%;
    align-content: center;
    color: rgb(25, 24, 24);
    cursor: default;
    overflow: hidden;
    text-overflow: ellipsis;
}
