<div id="level-mode">
    <p>Level:</p>
    <div class="btn-group">
        <button id="btnEasy" class="btn btn-outline-primary" [ngClass]="{active: easyMode}"
            (click)="onClickMode()">Easy 
        </button>
        <button id="btnHard" class="btn btn-outline-primary" [ngClass]="{active: !easyMode}"
            (click)="onClickMode(false)">Hard
        </button>
    </div>
    <button id="btnDraw" class="btn btn-primary" (click)="onClickDraw()">Draw 4 Cards
    </button>
    <div id="game-status">
</div>
